################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/ 

// Ignore the obj and bin directories
**/bin/
**/obj/

