@{
    ViewData["Title"] = "Add Event Page";
}
<div style="margin-left:10px;">
    <h1>เพิ่มการแข่งขันใหม่</h1>
    <h4>รายละเอียด</h4>
    <div></div>
    <div class="row g-4">
        <div class="col-8">
            <label>ชื่อรายการ</label>
            <input class="form-control" type="text" />
        </div>
        <div class="col-4">
            <label>Passcode</label>
            <input class="form-control" type="text" />
        </div>
        <div class="col-5">
            <label>ประเภท</label>
            <select class="form-control"></select>
        </div>

        <div class="col-2">
            <label>วัน</label>
            <input type="text" class="form-control" id="Dcontrol" />
        </div>
        <div class="col-3">
            <label>เดือน</label>
            <select class="form-control">
                <option value="1">มกราคม</option>
                <option value="2">text</option>
                <option value="3">text</option>
                <option value="4">text</option>
                <option value="5">text</option>
                <option value="6">text</option>
                <option value="7">text</option>
                <option value="8">text</option>
                <option value="9">text</option>
                <option value="10">text</option>
                <option value="11">text</option>
                <option value="12">text</option>
            </select>   
      
        </div>
        <div class="col-2">
            <label>ปี</label>
            <input type="text" class="form-control" id="Ycontrol" />

        </div>

        <div class="col-3">
            <label>รอบ</label>
            <select class="form-control"></select>
        </div>
        <div class="col-9">
            <label>Note</label>
            <input class="form-control" type="text" />
        </div>
        <div class="col-12">
            <label>สถาณที่</label>
            <input class="form-control" type="text" />
        </div>
        <hr />
        <div class="col-9">
            <button class="btn btn-primary" style="width:100%">เพิ่มการแข่งขัน</button>
        </div>
        <div class="col-3">
            <button class="btn btn-secondary" style="width:100%">ยกเลิก</button>
        </div>


        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.min.css" />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
        <script type="text/javascript">
            $('#Ycontrol').datepicker({
                format: "yyyy",
                viewMode: "years",
                minViewMode: "years"
            });
        </script>
       
    </div>
</div>