
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<div>
    <h3>เพิ่มทีม</h3>
    <div class="row g-2">
        <div class="col-6">
            <label class="form-label">ชื่อทีม</label>
            <input class="form-control" id="TeamName" type="text" />
        </div>
        <div class="col-6">
            <label class="form-label">ประเภท</label>
            <input class="form-control" id="type" type="text" readonly />
        </div>
        @* Row 2 *@
        <div class="col-6">
            <label class="form-label">รุ่น</label>
            <input class="form-control" id="Tgroup" type="text" readonly />
        </div>
        <div class="col-6">
            <label class="form-label">เบอร์โทรศัพท์</label>
            <input class="form-control" id="telnum" type="tel" />
        </div>
        @* Row3 *@
        <div class="col-6">
            <label class="form-label">ชื่อผู้จัดการ</label>
            <input class="form-control" id="Mname" type="text" />
        </div>
        <div class="col-6">
            <label class="form-label">ชื่อโค้ท</label>
            <input class="form-control" type="text" id="Cname"/>
        </div>
        @* Row4 *@
        <div class="col-6">
            <div></div>
            <input class="form-control" accept="application/vnd.ms-excel , application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" type="file" id="bfile" name="bfile" />
             
           
           
                @* <label class="form-label">ชื่อสมาชิก</label>
          
                <button id="addRow" type="button" class="btn btn-info" style=" margin-left:5px;">Add</button>
                <form method="post">
                    <div id="newRow">
                        <input type="hidden" id="total" value="0" />
                    </div> *@
                    @* <input type="submit" class="btn btn-primary" value="Post" /> *@
                @* </form> *@
             @*  
                <i class="bi bi-plus-circle"></i>
             
                <i class="bi bi-dash-circle"></i>
                *@     

        </div>
        <div class="col-6 "></div>
        <div class="col-12">
            <button class="btn btn-success" id="SaveTeam" >บันทึก</button>
        </div>
        <br />
        @section Scripts
        {
            <script>
                $("#addRow").click(function () {
                    var rowCount = parseInt($("#total").val());
                    rowCount++;
                    $("#total").val(rowCount);
                    var html = '';
                    html += '<div id="inputRow" class="d-flex">';
                    html += '<input class="form-control" style="width:75%; margin-top:10px; " type="text" name="[' + (rowCount - 1) + '].Name"  />';
                    
                    //add more inputs here...
                    html += '<button  style="margin-left:5px;margin-top:10px;" id="removeRow" type="button" class="btn btn-danger ">Remove</button>';
                    html += '</div> ';

                    $('#newRow').append(html);
                });
                $(document).on('click', '#removeRow', function () {
                    var rowCount = parseInt($("#total").val());
                    rowCount--;
                    $("#total").val(rowCount);
                    $(this).closest('#inputRow').remove();
                });

                $("#SaveTeam").click(function () {
              
                   var bfile = $("#bfile").get(0).files[0];

                    var formData = new FormData();
                    
                    formData.append("bfile", bfile);
                    $.ajax({
                        url: '/Home/AddTeam',
                        type: 'POST',
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            alert(data);
                        }
                    });
                });

            </script>
        }
    </div>
