@{
    ViewData["Title"] = "Home Page";
}

<div @* style="background-color:#155f82;height:80vh" *@>
    <div>
        <h2 style="text-align:center;padding-top:10px;">Swiss System</h2>
    </div>
    <div style="margin-left:10px;">
        <div>
            <a class="btn btn-info" id="pryear"></a>
            <a class="btn  btn-info" id="curryear"></a>
            <a class="btn  btn-info" id="nexyear"></a>
        </div>
        <div>
            <a class="btn btn-outline-success" style="margin:10px 0 10px 0;" asp-controller="Home" asp-action="AddEvent">Add Event </a>

        </div>
        <table class="table table-bordered" style="border-color:#df7132">
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
          GetEvent();

        var d = new Date(); // year -1 
        var curryear = d.getFullYear();
        $('#curryear').text(curryear); 

        var pryear = curryear - 1;
        $('#pryear').text(pryear);

        var nexyear = curryear + 1;
        $('#nexyear').text(nexyear);

          $('#pryear').click(function () {
              alert('pryear');
          });
          $('#curryear').click(function () {
              alert('curryear');
          });
            $('#nexyear').click(function () {
                alert('nexyear');
            });
        });

           

            function GetEvent() {
                $.ajax({
                    url: '/Home/GetEvent',
                    type: 'GET',
                    success: function (data) {
                        console.log(data);
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
            }
    </script>
}