<body>
    <div class="container-fluid">
        <h1>การแข่งขันกีฬาเปตอง โครงการ "เปตองเยาวชนไทยก้าวไกลสู่สากล" ประจำปี 2567</h1>
        <div class="row" >
            <div style="display: flex; justify-content:space-between;">
                <div class="col">
                    <p>ใบบันทึกคะแนน</p>
                </div>
                <div class="col">
                    <img src="cinqueterre.jpg" class="rounded" alt="Cinque Terre">
                </div>
                <div class="col">
                    <p>ใบบันทึกคะแนน</p>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col col-5">
                <p style="border: 1px solid black; padding: 8px;">ประเภท เยาวชนหญิง</p>
            </div>
            <div class="col col-5">
                <p style="border: 1px solid black; padding: 8px;">Round 1</p>
            </div>
            <div class="col col-2">
                <p style="border: 1px solid black; padding: 8px;">สนามที่</p>
            </div>
        </div>  
        <div class="row">
            <table style="border-collapse: collapse;">
                <tbody style="border:1px  solid black;">
                    <tr>
                        <td>team1</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>ชื่อทีม</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>รวม</td>
                    </tr>
                    <tr>
                        <td>team2</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">

            <p>ลงซื่อ...........................ลงซื่อผู้ตัคสิน.........................ลงชื่อ...........................</p>

        </div>
    </div>
</body>