@page
@model SwissSystem.Views.Detail.PdfModel
@{
}
<div class="card">
    <h3 style="text-align:center">การแข่งขันกีฬาเปตอง โครงการ "เปตองเยาวชนไทยก้าวไกลสู่สากล" ประจำปี 2567</h3>
  <div style="display:flex;flex-direction:row;justify-content:space-between">
    <h5 style="margin-left:25px;align-items:flex-start;">ใบบันทึกคะแนน</h5>
    <h5 style="margin-right:25px;float:right;align-items:flex-end;">ใบบันทึกคะแนน</h5>
</div>
    <div style="display:flex;flex-direction:row;justify-content:space-between">
        <input class="form-control" style="width:200px;text-align:center" type="text" value=" ประเภทเยาวชนหญิง"/>
        <input class="form-control" style="width:200px;text-align:center" type="text" value=" Round 1"/>
        <input class="form-control" style="width:200px;text-align:center" type="text" value="สนามที่..............."/>
    </div>
    <br />
    <table class="table table-bordered">
        <tr style="height:30px;">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>         
        </tr>     
         <tr style="height:30px;">
            <td style="text-align:center;width:200px">ชื่อทีม</td>
            <td style="text-align:center;width:20px">1</td>
            <td style="text-align:center;width:20px">2</td>
            <td style="text-align:center;width:20px">3</td>
            <td style="text-align:center;width:20px">4</td>
            <td style="text-align:center;width:20px">5</td>
            <td style="text-align:center;width:20px">6</td>
            <td style="text-align:center;width:20px">7</td>
            <td style="text-align:center;width:20px">8</td>
            <td style="text-align:center;width:20px">9</td>
            <td style="text-align:center;width:20px">10</td>
            <td style="text-align:center;width:20px">11</td>
            <td style="text-align:center;width:20px">12</td>
            <td style="text-align:center;width:20px">13</td>
            <td style="text-align:center;width:150px">รวม</td>         
        </tr>
          <tr style="height:30px;">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>          
        </tr>
    </table>
    <br />
    <div style="display:flex;flex-direction:row;">
        <label>ลงชื่อ......................................................................................</label>
        <label>ลงชื่อผู้ตัดสิน.......................................................................</label>
        <label>ลงชื่อ......................................................................................</label>
    </div>
    <hr />
</div>
<div class="card">
     <h3 style="text-align:center">การแข่งขันกีฬาเปตอง โครงการ "เปตองเยาวชนไทยก้าวไกลสู่สากล" ประจำปี 2567</h3>
  <div style="display:flex;flex-direction:row;justify-content:space-between">
    <h5 style="margin-left:25px;align-items:flex-start;">ใบบันทึกคะแนน</h5>
    <h5 style="margin-right:25px;float:right;align-items:flex-end;">ใบบันทึกคะแนน</h5>
</div>
    <div style="display:flex;flex-direction:row;justify-content:space-between">
        <input class="form-control" style="width:200px;text-align:center" type="text" value=" ประเภทเยาวชนหญิง"/>
        <input class="form-control" style="width:200px;text-align:center" type="text" value=" Round 1"/>
        <input class="form-control" style="width:200px;text-align:center" type="text" value="สนามที่..............."/>
    </div>
    <br />
    <table class="table table-bordered">
        <tr style="height:30px;">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>       
        </tr> 
         <tr style="height:30px;">
            <td style="text-align:center;width:200px">ชื่อทีม</td>
            <td style="text-align:center;width:20px">1</td>
            <td style="text-align:center;width:20px">2</td>
            <td style="text-align:center;width:20px">3</td>
            <td style="text-align:center;width:20px">4</td>
            <td style="text-align:center;width:20px">5</td>
            <td style="text-align:center;width:20px">6</td>
            <td style="text-align:center;width:20px">7</td>
            <td style="text-align:center;width:20px">8</td>
            <td style="text-align:center;width:20px">9</td>
            <td style="text-align:center;width:20px">10</td>
            <td style="text-align:center;width:20px">11</td>
            <td style="text-align:center;width:20px">12</td>
            <td style="text-align:center;width:20px">13</td>
            <td style="text-align:center;width:150px">รวม</td>           
        </tr>
          <tr style="height:30px;">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>            
        </tr>
    </table>
    <br />
    <div style="display:flex;flex-direction:row;">
        <label>ลงชื่อ......................................................................................</label>
        <label>ลงชื่อผู้ตัดสิน.......................................................................</label>
        <label>ลงชื่อ......................................................................................</label>
    </div>
    <hr />
</div
<div class="card">
     <h3 style="text-align:center">การแข่งขันกีฬาเปตอง โครงการ "เปตองเยาวชนไทยก้าวไกลสู่สากล" ประจำปี 2567</h3>
  <div style="display:flex;flex-direction:row;justify-content:space-between">
    <h5 style="margin-left:25px;align-items:flex-start;">ใบบันทึกคะแนน</h5>
    <h5 style="margin-right:25px;float:right;align-items:flex-end;">ใบบันทึกคะแนน</h5>
</div>
    <div style="display:flex;flex-direction:row;justify-content:space-between">
        <input class="form-control" style="width:200px;text-align:center" type="text" value=" ประเภทเยาวชนหญิง"/>
        <input class="form-control" style="width:200px;text-align:center" type="text" value=" Round 1"/>
        <input class="form-control" style="width:200px;text-align:center" type="text" value="สนามที่..............."/>
    </div>
    <br />
    <table class="table table-bordered">
        <tr style="height:30px;">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>       
        </tr>   
         <tr style="height:30px;">
            <td style="text-align:center;width:200px">ชื่อทีม</td>
            <td style="text-align:center;width:20px">1</td>
            <td style="text-align:center;width:20px">2</td>
            <td style="text-align:center;width:20px">3</td>
            <td style="text-align:center;width:20px">4</td>
            <td style="text-align:center;width:20px">5</td>
            <td style="text-align:center;width:20px">6</td>
            <td style="text-align:center;width:20px">7</td>
            <td style="text-align:center;width:20px">8</td>
            <td style="text-align:center;width:20px">9</td>
            <td style="text-align:center;width:20px">10</td>
            <td style="text-align:center;width:20px">11</td>
            <td style="text-align:center;width:20px">12</td>
            <td style="text-align:center;width:20px">13</td>
            <td style="text-align:center;width:150px">รวม</td>            
        </tr>
          <tr style="height:30px;">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>         
        </tr>
    </table>
    <br />
    <div style="display:flex;flex-direction:row;">
        <label>ลงชื่อ......................................................................................</label>
        <label>ลงชื่อผู้ตัดสิน.......................................................................</label>
        <label>ลงชื่อ......................................................................................</label>
    </div>
    <hr />
</div